* {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 150px 600px;
	grid-template-rows: 150px 300px 500px 150px;
	grid-template-areas: "a a"
						 "b c"
						 "d e"
						 "f f"

}

header {
	background-color: yellow;
	border: 5px solid black;
	grid-area: a;
}

aside {
	background-color: yellow;
	border: 5px solid black;
	grid-area: b;
}

#map {
	background-color: yellow;
	border: 5px solid black;
	grid-area: c;
}

blog {
	background-color: yellow;
	border: 5px solid black;
	grid-area: e;
}

footer {
	background-color: yellow;
	border: 5px solid black;
	grid-area: f;
}
