* {
	box-sizing: border-box;
	/* font-family: ; */
}

body#body-index {
	/*BARRY: HOW DO I MAKE IT SO I DONT HAVE TO SCROLL ON A PAGE FOR EVERYTHING TO FIT? */
	background-image: url("images/test-bg.jpg");
	background-size: cover;
	background-position: center;
	/* height: 580px;
	background-repeat: no-repeat; */
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100% 500px 100%;
	grid-template-areas: "a"
						 "b"
						 "c"
}						

header div.trans-banner{
	grid-area: a;
}

div.trans-banner {
	background: rgba(0,0,0, .5);
	margin-top: 50px;
	padding: 10px;
	color: white;
	text-align: center;
}

footer#footer-index {
	grid-area: c; /* BARRY: won't appear all the way across page; */
	background: black;
	text-align: center;
	padding: 15px;
}

#footer-index a {
	color: white;
	text-decoration: none;
}

#footer-index a:hover {
	color: gray;
}

#footer-index ul { /* makes bar in between nav white */
	color: white;
	padding: 0;
}



/* GALLERY CSS */

#body-gallery {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 250px 250px 250px 250px; /* BARYY: MAKE THESE 100% OR SOMETHING SO REACHES FULL SCREEN LENGTH?*/
	grid-template-rows: 50px minmax(500px, auto) 500px 150px;
	grid-template-areas: "a a a a"
						 "b b b b"
						 "c c c c"
						 "d d d d"
}

#header-gallery {
	grid-area: a;
	background: black;
	text-align: right;
	padding-top: 15px;
	padding-right: 10px;
}

#header-gallery ul { /* makes bars between nav white */
	color: white;
}

#header-gallery nav ul a {
	color: white;
	text-decoration: none;
}

#pin-map {
	grid-area: b;
	background: blue;
	border: 5px solid black;
} 

#photo-display {
	grid-area: c; 
	background: yellow;
	border: 5px solid black;
	display: flex;
}

div#sydney {
	display: flex;
	justify-content: space-between;
	width:100%;
	/* *********
	BARRY:
	1. CANNOT GET THESE TO DIVIDE HOW I WOULD LIKE THEM TO (#RIGHT I WANT TO FILL THE WHITE BOX WITH TWO STACKED HORIZONTAL PHOTOS / #TALL I WANT TO FILL THE RED BOX WITH A VERTICAL IMAGE / #STACKED TWO IMAGES TO APPEAR STACKED ON TOP OF ONE ANOTHER
	2. CANOT GET THE SIZES TO ADJUST. TRIED USING FLEX: 1/ETC TO ADJUST DIFFERENT BOX SIZES AND CANNOT GET TO WORK
	******* */
}

div#stacked {
	background: orange;
	flex-direction: column;
}

div#stacked img {
	border: 5px solid white;
	/* ******
	BARRY:
	1. IS THE BELOW W THE CORRECT WAY TO GO ABOUT SCALING TO FIT INSIDE THE #STACKED DIV? OR AM I WANTING TO DO SOMETHING WITH TELLING THIS TO BE 100% OF PARENT?
	****** */
	height: 250px;
}

div#right {
	background: yellow;
	flex: 2;
}

div#right img {
	border: 5px solid yellow;
	/* ******
	BARRY:
	1. IS THE BELOW W/H THE CORRECT WAY TO GO ABOUT SCALING TO FIT INSIDE THE #RIGHT DIV?
	****** */
	width: 520px;
	height: 250px;
}

div#tall {
	background: red;
} 

div#tall img {
	border: 5px solid black;
	height: 480px;
	width: 270px;
}

/*#tall, #stacked, #right {
	border: 5px solid black;
}
*/


#footer-gallery {
	grid-area: d;
	background: black;
}

#footer-gallery nav ul {
	color: white;
	text-align: center;
	padding-top: 20px;
}

#footer-gallery nav ul a {
	color: white;
	text-decoration: none;
}

#footer-gallery nav ul a:hover {
	color: gray;
}

/* *******  ABOUT CSS ****** */

body#about {
	display: grid;
	grid-template-columns: 450px 450px;
	grid-template-rows: 50px minmax(500px,auto) 150px;
	grid-template-areas: "a a"
						 "b b"
						 "c c"
}


header#header-about {
	grid-area: a;
	background: black; 
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
}

#header-about ul { /* makes bars between nav white */
	color: white;
	margin: 0;
	padding: 10px;
}

#header-about nav ul a {
	color: white; 
	text-decoration: none;
}

section#about-content {
	grid-area: b;
	background: blue; 
	display: flex;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	/* *******
	 BARRY: 
	 1. CAN'T SEPARATE THE TWO. TRIED JUSTIFY-CONTENT SPACE-AROUND AND NOT WORKING 
	 2. HOW CAN I SET TO FILL WHOLE SCREEN? IS THIS SOMETHING TO DO WITH MY DIMENSIONS?
	 ********* */
}

div#about-info {
	background:rgba(0,0,0, .5);
	width: 450px;
}

div#about-info h1 {
	color: white;
	padding-left: 20px;
}

div#about-info p {
	padding: 0 20px 0 20px;
	color: white;
}

div#me img {
	border-radius: 200px;
	width: 400px;
	height: 400px;
} 

footer#footer-about {
	grid-area: c; 
	background: black;
	justify-content: space-around;
}

#footer-about nav ul {
	color: white;
	text-align: center;
	padding-top: 40px;
}

#footer-about nav ul a {
	color: white;
	text-decoration: none;
}

#footer-about nav ul a:hover {
	color: gray;
}


/* --------------OLD OLD OLD OLD _DNU------------ */
/*
body#body-index {
	background-image: url("images/test-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* display: grid;
	grid-template-columns: 100%;
	grid-template-rows:75% 25%;
	grid-template-areas: "a"
						 "b";
	/* height: 100%;
	width: 100%;  */   /* Need to make it full screen 
}/



body#gallery {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 250px 250px 250px 250px;
	grid-template-rows: 150px minmax(500px, auto) 500px 150px;
	grid-template-areas: "a a a a"
						 "b b b b"
						 "c d e f"
						 "g g g g"
}
 /* grid-gap not followng CSS & dimensions not following rows/column rules

header#gallery {
	background-color: green;
	border: 5px solid black; 
	grid-area: a;
	/*display: flex; 
	justify-content: space-between;
	align-items: center;} 
}

#pin-map {
	grid-area: b;
	background-color: blue;
	border:5px solid black;
	height: 400px;
}


  #photo-display div img{
  	width:100%;
  }


p.index {
	font-weight: 800;
	font-size: 20px;
	color:white;
	 opacity: none; want to make sure text on banner does not become opaque 
} 

cite {
	font-size: 10px;
	margin: 0;
}

nav.index {
	padding: 10px;
	font-weight: 700;
	font-size: 12px;
	/* width: 100%; not centering to blockquote */
/*} 

a.index {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;  /* change to a stronger color after opacity is fixed 
}

a {
	color: green;
}
*/

/* nav {
	background: black;
}  stuff is changing in CSS when adding other cats */

/* body {
	/* background-color: black; */
	/*font-family: "Open Sans", "sans-serif";*/
	/* color: white;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 250px 600px;
	grid-template-rows: 150px 300px minmax(500px, auto) 150px;
	grid-template-areas: "a a"
						 "b c"
						 "d e"
						 "f f"

}
/*
header {
	background-color: rgb(17, 16, 16);
	/* border: 5px solid white; 
	grid-area: a; */
	/* display: flex; 
	justify-content: space-between;
	align-items: center;} */
/*

header h1 {
	text-align: center;
}

nav {
	text-align: center;
	font-size: 14px;
} */

/* nav ul { /* this displays flex because you want this li to reflect? */
	/*  display: flex;

}  */
/*
ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
	font-style: bold;
}

a:hover {
	color: gray;
}


.live-feed {
	background-color: black;
	border: 5px solid white;
	grid-area: b;
}

.secondary-nav {
	padding: 10px;
}

#map {
	background-color: green;
	border: 5px solid white;
	grid-area: c;
}

blog {
	background-color: rgb(17, 16, 16);
	/* border: 5px solid white; */
	/*grid-area: e;*/
/*}*/
/*
.blog {
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
}

.published {
	font-weight: 300;
	padding: 10px;
}

footer {
	background-color: black;
	border: 5px solid white;
	grid-area: f;
} */
